/* p{
    color: purple;
    font-size: 90px;
} */
*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    font-size: 30px;
    color: blue;

}


p{
    color: yellow !important;
}
#trial{
    color: pink;
}


h1, h2{
    color: green;
}
p span{
    text-transform: capitalize;
    background-color: gold;
    font-style: italic;
    font-family: Verdana;
}